[Desktop Entry]
Name=Lintextor
GenericName=Text Editor
Comment=Create and edit Windows-compatible text files
Exec=/usr/share/Lintextor/lintextor.py %U
Icon=lintextor
Terminal=false
Type=Application
Categories=Utility;TextEditor;
StartupNotify=true
MimeType=application/x-lintextor-txt;
